AZURE_LLM_ENDPOINT=""
AZURE_LLM_API_KEY=""
AZURE_LLM_DEPLOYMENT_NAME=""
AZURE_LLM_MODEL_NAME=""
AZURE_LLM_API_VERSION=""

AZURE_EMBEDDINGS_ENDPOINT=""
AZURE_EMBEDDINGS_API_KEY=""
AZURE_EMBEDDINGS_DEPLOYMENT_NAME=""
AZURE_EMBEDDINGS_MODEL_NAME=""
AZURE_EMBEDDINGS_API_VERSION=""